/* ELEMENTS
----------------------------------*/

.content { position: relative; width: 100%; padding: 0 40px; }

.main-section { margin: 25px 0;
	h1, h2 { font-size: 32px; line-height: 1.3; font-weight: 900; margin-bottom: 30px; }
}

/* RWD 
-------------------------------*/

@media screen and (min-width: 768px) {
	.main-section {
		h1, h2 { font-size: 48px; margin-bottom: 35px; }
	}
}

@media screen and (min-width: 1021px) {
	.main-section { margin: 50px 0;
		h1, h2 { margin-bottom: 50px; }
	}
}

@media screen and (min-width: 1320px) {
	.content { max-width: 1200px; padding: 0; margin: 0 auto; }
	.main-section {
		h1, h2 { font-size: 60px; }
	}
}

@media screen and (min-width: 1600px) {
	.content { max-width: 1440px; }
}
